/* Discrete, reusable UI elements. */
.text-shadow-light	{
	text-shadow: 2px 2px 4px black;
}

.background-opacity-light::before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	content: '';
	background-color: rgba(0,0,0,0.3);
}
