{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.primary_menu: Items for the primary menu region.
 * - page.secondary_menu: Items for the secondary menu region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 * - page.breadcrumb: Items for the breadcrumb region.
 *
 * @see template_preprocess_page()
 * @see uikit_preprocess_page()
 * @see html.html.twig
 *
 * @ingroup uikit_themeable
 */
#}
<div id="page-wrapper"{% if page.offcanvas %} class="uk-offcanvas-content uk-position-relative"{% endif %}>

  {% if page.navbar %}
    <div uk-sticky="animation: uk-animation-fade; sel-target: #topbar; cls-active: uk-navbar-sticky uk-overlay-primary;
     cls-inactive: uk-light; top: 100vh">
      <div id="topbar" class="uk-overlay uk-light uk-position-top uk-padding-remove" style="z-index:1;">

        <nav{{ navbar_attributes.removeAttribute("uk-navbar").addClass("uk-navbar-transparent") }}>
          <div class="uk-container uk-container-expand">
            <div uk-navbar>
              {% if page.offcanvas %}
                <a href="#offcanvas" class="uk-navbar-toggle uk-hidden@m uk-padding-remove-left" uk-toggle uk-navbar-toggle-icon></a>
              {% endif %}

              {{ page.navbar }}

              {% if page.account_offcanvas %}
                <a href="#account-offcanvas" class="uk-navbar-toggle uk-hidden@m uk-padding-remove-right" uk-toggle uk-icon="user"></a>
              {% endif %}
            </div>
          </div>
        </nav>

      </div>
    </div>
  {% endif %}

  <header{{ header_attributes.addClass("uk-section-secondary background-opacity-light uk-position-relative") }}>
    {% if page.hero %}
      <div id="section--hero" class="uk-section uk-section-small text-shadow-light uk-position-relative">
          <div class="uk-container">
            {{ page.hero }}
          </div>
      </div>
    {% endif %}
  </header>

  {% if page.content_top %}
    {{ page.content_top }}
  {% endif %}

  <div{{ page_attributes.addClass("uk-section uk-section-xsmall") }}>
    <div id="page--wrapper" class="uk-grid-large" uk-grid>
      <main{{ content_attributes }}>
        <a id="main-content" tabindex="-1"></a>
        {{ page.content }}
      </main>

      {% if page.sidebar_first %}
        <aside{{ sidebar_first_attributes }}>
          {{ page.sidebar_first }}
        </aside>
      {% endif %}

      {% if page.sidebar_second %}
        <aside{{ sidebar_second_attributes.addClass("uk-visible@m") }}>
          {{ page.sidebar_second }}
        </aside>
      {% endif %}
    </div>
  </div>

  {% if page.content_bottom %}
    {{ page.content_bottom }}
  {% endif %}


  {% if page.footer %}
    <footer role="contentinfo" class="uk-section uk-section-secondary" uk-height-viewport="expand: true">
      <div class="uk-container">
        {{ page.footer }}
      </div>
    </footer>
  {% endif %}

  {% if page.offcanvas %}
    <div id="offcanvas" uk-offcanvas="overlay: true; mode: slide">
      {{ page.offcanvas }}
    </div>
  {% endif %}

  {% if page.account_offcanvas %}
    <div id="account-offcanvas" uk-offcanvas="overlay: true; flip: true">
      {{ page.account_offcanvas }}
    </div>
  {% endif %}

</div>
