{#
/**
 * @file
 * Theme override to display the navbar region.
 *
 * Available variables:
 * - content: The content for this region, typically blocks.
 * - attributes: HTML attributes for the region div.
 * - region: The name of the region variable as defined in the theme's
 *   .info.yml file.
 *
 * @see template_preprocess_region()
 * @see uikit_preprocess_region()
 *
 * @ingroup uikit_themeable
 */
#}
{% if content_left %}
  <div class="uk-navbar-left">
    {{ content_left }}
  </div>
{% endif %}

{% if content_center %}
  <div class="uk-navbar-center">
    {{ content_center }}
  </div>
{% endif %}

{% if content_right %}
  <div class="uk-navbar-right">
    <div class="uk-visible@m">
        <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
        <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
          <form accept-charset="UTF-8" action="/search/node" class="uk-search uk-search-navbar uk-width-1-1" method="get">
          <input class="uk-search-input" name="keys" placeholder="{{'Search keywords'|t}} ..." type="search" />
          </form>
        </div>
    </div>
    {{ content_right }}
  </div>
{% endif %}
